.userOrder {
  min-height: 100vh;
  padding: 50px;
  background-color: #ddd;
  .total-amount {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: white;
    color: black;
    .left {
      font-size: 20px;
      span {
        letter-spacing: 2px;
      }
    }
    .right {
      font-size: 25px;
      font-weight: bold;
      span {
        letter-spacing: 2px;
      }
    }
  }
  .shipping-address {
    background-color: white;
    margin-bottom: 20px;
    // padding: 10px;
    .title {
      font-size: 22px;
      letter-spacing: 2px;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }
    .dt {
      padding: 10px;
      font-size: 18px;
      letter-spacing: 2px;
    }
  }

  .payment {
    background-color: white;
    margin-bottom: 20px;
    // padding: 10px;
    .title {
      font-size: 22px;
      letter-spacing: 2px;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }
    .dt {
      padding: 10px;
      font-size: 18px;
      letter-spacing: 2px;
    }
    .payment-btn {
      margin: 10px 0px;
      button {
        margin-left: 10px;
        background-color: darkgreen;
        color: white;
      }
    }
  }

  button {
    border: none;
    padding: 8px 16px;
    font-size: 20px;
    cursor: pointer;
  }
  span {
    margin: 0px 10px;
  }

  .checkout-summary {
    width: 100%;
    min-height: 200px;
    background-color: white;
    padding: 20px;
    .title {
      font-size: 20px;
      // color: #ddd;
      letter-spacing: 2px;
      padding-bottom: 10px;
    }
    .checkout-container {
      .summary {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        border-bottom: 1px solid #ddd;
        letter-spacing: 1px;
      }
      .payable {
        font-weight: bold;
        border-bottom: none;
      }
    }
  }

  .shipping {
    margin-top: 15px;
    width: 100%;
    padding: 12px 25px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  .deleteOrder {
    margin-top: 15px;
    width: 100%;
    padding: 12px 25px;
    background-color: crimson;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }

  @media screen and (max-width: 600px) {
    padding: 20px;
    .total-amount {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100px;
      width: 100%;
      background-color: white;
      color: black;
      .left {
        font-size: 15px;
        span {
          letter-spacing: 0px;
        }
      }
    }
  }
}
